body {
    background-color: #f8f3e9;
    font-family: 'League Spartan', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'League Spartan', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 3px solid #4c241d;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #4c241d;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 2.3rem;
    font-weight: 400;
    color: #4c241d;
}

.nav-link:hover{
    color: #e47665;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #4c241d;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position:fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #f8f3e9;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px #4c241d1e;;
    }
    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

#wrapper {
    display: grid;
    grid-template-areas:
    'mn mn as'
    'mn mn as'
    'ft ft ft'
    ;

}

main {
    grid-area: mn;
    height: 70vh;
    width: 60vw;
    color: #4c241d;
    font-size: 30px;
    text-align: center;
    padding-top: 1.5vw;
    box-sizing: border-box;
    margin: 1vh 3vw 2vh 2vw;
    border: 3px solid #4c241d;
}

aside {
    grid-area: as;
    height: 70vh;
    width: 30vw;
    margin: 1vh 2vw 2vh 2vw;
    color: #4c241d;
    font-size: 30px;
    text-align: center;
    padding-top: 1.5vw;
    padding-right: 2vw;
    box-sizing: border-box;
    border: 3px solid #4c241d;
}

footer {
    grid-area: ft;
    height: 20vh;
    border: 3px solid #4c241d;
}








/*#4c241d*/

